<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMG</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
<script>
$(document).ready(function() {
    var success_state = 0;
    $("#index").val(1);
    $(".btn1").click(function () {
        var formData = new FormData($('#myf')[0]);
        $(".imgdiv").empty();
        $(".mytable").empty();
        $(".mytable").append(" <thead>\n" +
            "        <tr>\n" +
            "\n" +
            "        </tr>\n" +
            "        </thead>\n" +
            "        <tbody>\n" +
            "        </tbody>");
        exeAJAX(formData);
    });

    function exeAJAX(formData) {
        var index =parseInt($("#index").val())+1;
        $.ajax({
            url: "/mylist",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if(success_state==0){
                    $(".imgdiv").append("<a href=\"../static/image/figure.png\"><img src=\"../static/image/figure.png\" id=\"myimg\" width=\"90%\"/></a> ");
                    success_state=1;
                }
                for (var i = 0; i < data.length; i++) {
                    $(".mytable tbody").append($("<tr></tr>").append($("<td></td>").append(data[i][0])).append($("<td></td>").append(data[i][1])).append($("<td></td>").append(data[i][2])).append($("<td></td>").append(data[i][3])));
                }
                $("#index").val(index);
                var formData = new FormData($('#myf')[0]);
                exeAJAX(formData);
            },
        });
    }
});
</script>
<style>
    .imgdiv{
        position: absolute;
        top: 200px;
        left: -20px;
    }
</style>
</head>
<body>
    <h1 class="col-sm-offset-3 title">OMG SYSTEM</h1>
    <div class="col-sm-4 col-sm-offset-4 mydiv" align="center">
        <a href="http://classwork.readthedocs.io/en/latest/index.html"> <button class="btn btn-info" style="float: left;margin-left: 30px;">READ SRS</button></a>
         <form id="myf" style="float: left;width: 150px">
        <input type="file" name="genes" id="InputFile" />
             <input type="text" value="1" name="index" id="index" style="display: none"/>
            <p class="help-block">please choose a txt file.</p>
        </form>
    <button class="btn1 btn btn-info" >go</button>
    </div>

<form class="form col-sm-6 col-sm-offset-5">
    <table class="table table-hover table-bordered mytable">

        <tbody>
        </tbody>

    </table>
</form>
<div class="col-sm-5 imgdiv">

</div>
</body>
</html>